<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-img"><%= @user.name %></h3>
      </div>
      <div class="card-body">
         <%= '編集' %>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
   <ul class='profile'>
       <li>名前</li>
       <li>自己紹介</li>
   </ul>
  </div>
  
  
  <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">投稿</a></li>
      <li class="nav-item"><a href="#" class="nav-link">保存</a></li>
      <li class="nav-item"><a href="#" class="nav-link">コメント</a></li>
    </ul>
  </div>
</div>