
<div class="main" id="mainImg">
        <h1 id="top_title">指導案Labo</h1>
    
    <h2 id="top_title">
        未来へつながる
        <br>
        指導案
        
    </h2>

            
      
</div>

    
<%= render 'layouts/card_list' ,documents: @documents%>