
<div class="main" id="mainImg">
        <h1 id="top_title">指導案Labo</h1>
    
    <h2 id="top_title">
        未来へつながる
        <br>
        指導案
        
    </h2>

            
      
</div>
<h3 id ="topic">指導案ラボスタート！投稿大募集です！</h3>
<%= render 'layouts/card_list' ,documents: @documents %>
<div class="offset-lg-4">
<%= paginate @documents %>
</div>