/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6em;
}


.sign_up h1{
    color:#2c3e50;
    margin-left: 35px;
    margin-top: 20px;
}

#card_list{
    margin-top: 20px;
}

.header{

    justify-content: space-between;
    width: 100%;
    /*background-color:#007bff ;*/
    
}



body{
    
    background-color:#1abc9c;
}


a#top {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4rem;
    color: #FFFFFF;
}

.add{
    color:#FFFFFF;
}
#document_search{
    
    font-size: 2rem;
}
.search_name_here{
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
    margin-left: 5rem;
}

.search{
     font-family: 'Noto Sans JP', sans-serif;
    color: #000033;
}


.nav-link {
     font-family: 'Noto Sans JP', sans-serif;
     color: #000033;
     font-size: 1.5rem;
    
}

.dropdown-menu{
    font-size: 1.5rem;
}

#card{
    margin-bottom: 10px;
    
}

#image_user_edit{
    size: 50%;
}




@media only screen and (min-width:100px) {
  html {
    font-size: 38%;
  }
  
}

@media only screen and (min-width:651px) {
  html {
    font-size: 71.4286%;
  }
  
}
 
@media only screen and (min-width:961px) {
  html {
    font-size: 75.8929%;
  }
}