.file{
    width: 50%;
    
}

.text{
    margin-right: 10%;
  
    justify-content: space-between;
}

.form_size1{
    width: 100%;
  height: 20vh !important;
}

object{
    background-color: #ecf0f1;
}

.FileBtn {
    border: 3px solid;
    display: inline-block;
    padding: 2px 1em;
    position: relative;
}
.FileBtn input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.info{
    margin-top: 60px;
    margin-left: 20px;
}


#new_image_document{
    margin-left: 50px;
    margin-right: 50px;
}

#link_name{
    color: #2c3e50;
}

#goal{
    color: #FFFFEE;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    
}

.form-group{
    font-size: 1.8rem;
}

.box20 {
    position: relative;
    padding: 0.25em 1em;
    margin: 0em 0;
    top: 0;
    background: #efefef;
    display: inline-block;

}
.box20:before, .box20:after{ 
    position: absolute;
    top: 0;
    content:'';
    width: 10px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}
.box20:before{
    border-left: dotted 2px #15adc1;
    border-top: dotted 2px #15adc1;
    border-bottom: dotted 2px #15adc1;
    left: 0;
}
.box20:after{
    border-top: dotted 2px #15adc1;
    border-right: dotted 2px #15adc1;
    border-bottom: dotted 2px #15adc1;
    right: 0;
}
.box20 p {
    text-align: center;
    margin: 0; 
    padding: 0;
}




.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #62c1ce;
    border-bottom: solid 2px #62c1ce;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #62c1ce;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}


.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
        background-color:#ecf0f1;

}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0; 
    padding: 0;
}

.kakomi-box12 {
 position: relative;
 margin-top: 1em;
 padding: 1em;
 width: 90%;
 color: #2c3e50; /* 文字色 */
 background-color: #ecf0f1;
 border: 2px solid #2980b9; /* 枠線の太さ・色 */
 box-shadow: 2px 2px 1px #ccc;/* 影の色 */
}
.title-box12 {
 position: absolute;
 padding: 0 .5em;
 left: 20px;
 top: -15px;
 font-weight: bold;
 background-color: #ecf0f1; /* タイトル背景色 */
 color: #2c3e50 /* タイトル文字色 */
}




.card-title{
    border-bottom: solid 3px #62c1ce;
}