.main {
  background-image: url("People climbing books. Business success, education level and staff and skill development vector concept.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

body{
     /*background-image: url("pool_table.png");*/
}



.index {
    background-color:#329374;
}

h1#top_title {
    font-family: sans-serif;
    font-size: 120px;
    color: #fff;
    margin-left:130px;
    text-shadow: -1.5px 1px 0 #000
}

h2#top_title{
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    margin-left:130px;
    text-shadow: -1.5px 1px 0 #000
}